﻿@inherits LayoutComponentBase

@inject IJSRuntime JSRuntime

@inject NavigationManager NavigationManager
 
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <article class="content px-5">
            @Body
        </article>
    </main>
</div>
 
<RadzenDialog />

@code
{
    private System.Timers.Timer? userInactiveTimer;

    protected override async Task OnInitializedAsync()
    {
        /*
        userInactiveTimer = new System.Timers.Timer(1 * 1000);
        userInactiveTimer.Elapsed += UserTimerElapsed;
        userInactiveTimer.AutoReset = false;
        await JSRuntime.InvokeVoidAsync("userTimeOutCall", DotNetObjectReference.Create(this));
        */
    }

    [JSInvokable]
    public void UserTimerInterval()
    {
        userInactiveTimer.Stop();
        userInactiveTimer.Start();
    }

    [JSInvokable]
    public async Task<bool> LogOutOnClosePageWhenOnlyTokenManipulationPossible()
    {

        return true;
    }

    private void UserTimerElapsed(object? sender, ElapsedEventArgs e)
    {
        /*
        InvokeAsync(async () =>
        {

        });
        return;
        */
    }
}
