﻿
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <button title="Navigation menu"
                class="navbar-toggler"
                @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="@NavMenuCssClass"
     @onclick="ToggleNavMenu">

    <nav class="flex-column">

        @if (!string.IsNullOrEmpty(ErrorStatus))
        {
            <p>
                <em>@ErrorStatus</em>
            </p>
        }
       
        <div class="nav-item px-6">
            <NavLink class="nav-link"
                     href=""
                     Match="NavLinkMatch.All">
                <span class="oi oi-home"
                      aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-6">
            <NavLink class="nav-link"
                     href="ProjectHandler"
                     Match="NavLinkMatch.All">
                <span class="oi oi-map"
                      aria-hidden="true"></span> ProjectHandler
            </NavLink>
        </div>
      

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? ErrorStatus { get; set; }
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override async Task OnInitializedAsync()
    {
      
    }

    private string GetEnvironmentKindBootstrapColor()
    {
        return BootstrapConstants.BootstrapColors.TextSuccess;
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}