﻿@page "/ballz"

@using System.Drawing
@using Blazor.Extensions
@using Blazor.Extensions.Canvas.Canvas2D
@using Simba.Client.Components
@using Simba.Client.Models

<PageTitle>Balz</PageTitle>

<CanvasHelper @ref="CanvasHelper"
              CanvasResized="CanvasResized"
              RenderFrame="RenderFrame"
              MouseDown="MouseDown"
              MouseUp="MouseUp"
              MouseMove="MouseMove">
    <BECanvas Width="600" 
              Height="400" 
              @ref="CanvasReference">
    </BECanvas>
</CanvasHelper>

@if(componentSelectionDialogueVisible)
{

    <ComponentSelectionDialogue CssClass="center">

    </ComponentSelectionDialogue>
}

@code {

    private double FPS;
    private Size Size = new Size();
    private Canvas2DContext Ctx;
    private BECanvasComponent CanvasReference;
    private CanvasHelper CanvasHelper;
    private Field BallField = new Field();

    private bool componentSelectionDialogueVisible { get; set; }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Create the canvas and context
            Ctx = await CanvasReference.CreateCanvas2DAsync();
            // Initialize the helper
            await CanvasHelper.Initialize();
        }
    }

    /// <summary>
    /// Called by CanvasHelper whenever we are ready to render a frame
    /// </summary>
    /// <param name="fps"></param>
    /// <returns></returns>
    public async Task RenderFrame(double fps)
    {
        // update the Frames Per Second measurement
        FPS = fps;

        // The following code is adapted from Scott Harden's EXCELLENT blog post,
        // "Draw Animated Graphics in the Browser with Blazor WebAssembly"
        // https://swharden.com/blog/2021-01-07-blazor-canvas-animated-graphics/

        if (BallField.Balls.Count == 0)
        {
            BallField.AddRandomBalls(7);
        }

        BallField.StepForward();

        await this.Ctx.BeginBatchAsync();

        await this.Ctx.ClearRectAsync(0, 0, BallField.Width, BallField.Height);
        await this.Ctx.SetFillStyleAsync("#003366");
        await this.Ctx.FillRectAsync(0, 0, BallField.Width, BallField.Height);

        await this.Ctx.SetFontAsync("26px Segoe UI");
        await this.Ctx.SetFillStyleAsync("#FFFFFF");
        await this.Ctx.FillTextAsync("Blazor Canvas", 10, 30);

        await this.Ctx.SetFontAsync("16px consolas");
        await this.Ctx.FillTextAsync($"FPS: {fps:0.000}", 10, 50);

        await this.Ctx.SetStrokeStyleAsync("#FFFFFF");
        foreach (var ball in BallField.Balls)
        {
            await this.Ctx.BeginPathAsync();
            await this.Ctx.ArcAsync(ball.X, ball.Y, ball.R, 0, 2 * Math.PI, false);
            await this.Ctx.SetFillStyleAsync(ball.Color);
            await this.Ctx.FillAsync();
            await this.Ctx.StrokeAsync();
        }

        await this.Ctx.EndBatchAsync();
    }

    /// <summary>
    /// Called by CanvasHelper whenever the browser is resized.
    /// </summary>
    /// <param name="size"></param>
    public void CanvasResized(Size size)
    {
        Size = size;
        BallField.Resize(size.Width, size.Height);
    }

    // Handle mouse down events
    void MouseDown(CanvasMouseArgs args)
    {
        if(args.Button == CanvasMouseArgs.CanvasMouseArgsButtons.RightButton)
        {
            componentSelectionDialogueVisible = true;
        }
    }

    // Handle mouse up events
    void MouseUp(CanvasMouseArgs args)
    {

    }

    // Handle mouse move events
    void MouseMove(CanvasMouseArgs args)
    {

    }
}
