﻿@page "/"

@inject IJSRuntime JS


<script src="_content/Blazor.Extensions.Canvas/blazor.extensions.canvas.js"></script>

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    protected override void OnInitialized()
    {
        
    }
}
