﻿@page "/stateMachineDesigner"

@using System.Drawing
@using Blazor.Extensions
@using Blazor.Extensions.Canvas.Canvas2D
@using Simba.Client.Components
@using Simba.Client.Models

<PageTitle>Balz</PageTitle>

<CanvasHelper @ref="CanvasHelper"
              CanvasResized="CanvasResized"
              RenderFrame="RenderFrame"
              MouseDown="MouseDown"
              MouseUp="MouseUp"
              MouseMove="MouseMove"
              MouseWheel="MouseWheel">
    <BECanvas Width="600"
              Height="400"
              @ref="CanvasReference">
    </BECanvas>
</CanvasHelper>

@if (componentSelectionDialogueVisible)
{

    <ComponentSelectionDialogue CssClass="center">

    </ComponentSelectionDialogue>
}



@if(true)
{
<div class="center whiteText">

<DoubleVetor1WithCaption Caption="Zoom"
                         Value=@cameraZoom />
<DoubleVetor2WithCaption Caption="Center canvas offset"
                         Value=@CenterBalance />
<DoubleVetor2WithCaption Caption="Center canvas offset relative"
                         Value=@CenterBalanceRelative />
<DoubleVetor2WithCaption Caption="Camera offset"
                         Value=@CameraOffset />
<SizeVetor2WithCaption Caption="Size"
                       Value=@Size.Size />
    <DoubleVetor2WithCaption Caption="ActualSize"
                           Value=@ActualSize />
<DoubleVetor2WithCaption Caption="MouseLast"
                         Value=@MousePosition />
        <DoubleVetor2WithCaption Caption="ActualMouseLast"
                                 Value=@MouseToCanvasActualPosition />
<p>Scrolls:</p> @scrolls
</div>
}

@code {

    private double FPS;
    private GraphicSize Size = new GraphicSize(0,0);
    private DoubleVector2 ActualSize = new DoubleVector2(0, 0);
    private DoubleVector2 MouseToCanvasActualPosition = new DoubleVector2(0, 0);
    private Canvas2DContext Ctx;
    private BECanvasComponent CanvasReference;
    private CanvasHelper CanvasHelper;
    private Field BallField = new Field();

    private int scrolls = 0;

    DoubleVector2 CenterBalance = new DoubleVector2(0, 0);
    DoubleVector2 CenterBalanceRelative = new DoubleVector2(0, 0);

    DoubleVector2 CameraOffset = null;// new DoubleVector2(0, 0);
    double cameraZoom = 1;
    double MAX_ZOOM = 5;
    double MIN_ZOOM = 0.1f;
    double SCROLL_SENSITIVITY = 0.0005f;

    bool isDragging = false;
    DoubleVector2 dragStart = new DoubleVector2(0, 0);
    public DoubleVector2 MousePosition { get; set; } = new DoubleVector2(0, 0);

    double initialPinchDistance = 0;
    double lastZoom = 0;


    private bool componentSelectionDialogueVisible { get; set; }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {


        if (firstRender)
        {





            // Create the canvas and context
            Ctx = await CanvasReference.CreateCanvas2DAsync();
            // Initialize the helper
            await CanvasHelper.Initialize();
            double lastZoom = cameraZoom;

            if (CameraOffset == null)
            {
                CameraOffset = new DoubleVector2(Size.Width / 2, Size.Height / 2);
            }
        }
        else
        {
           
        }

    }

    /// <summary>
    /// Called by CanvasHelper whenever we are ready to render a frame
    /// </summary>
    /// <param name="fps"></param>
    /// <returns></returns>
    public async Task RenderFrame(double fps)
    {

        var a = await CanvasHelper.GetCanvasHolderSizeAsync();
        // update the Frames Per Second measurement
        FPS = fps;

        // The following code is adapted from Scott Harden's EXCELLENT blog post,
        // "Draw Animated Graphics in the Browser with Blazor WebAssembly"
        // https://swharden.com/blog/2021-01-07-blazor-canvas-animated-graphics/

        if (BallField.Balls.Count == 0)
        {
            BallField.AddRandomBalls(7);
        }

        BallField.StepForward();

        await this.Ctx.BeginBatchAsync();





        //await Ctx.RestoreAsync();
        await Ctx.SetTransformAsync(1, 0, 0, 1, 0, 0);


        await this.Ctx.ClearRectAsync(0, 0, BallField.Width, BallField.Height);

        double d1 = ActualSize.X / 2;
        double d2 = ActualSize.Y / 2;

        //await Ctx.TranslateAsync(d1, d2);
        await Ctx.ScaleAsync(cameraZoom, cameraZoom);

        double d3 = -ActualSize.X / 2 + CameraOffset.X;
        double d4 = -ActualSize.Y / 2 + CameraOffset.Y;

        await Ctx.TranslateAsync(d3, d4);




        await this.Ctx.ClearRectAsync(0, 0, BallField.Width, BallField.Height);
        await this.Ctx.SetFillStyleAsync("#003366");
        await this.Ctx.FillRectAsync(0, 0, BallField.Width, BallField.Height);

        await this.Ctx.SetFontAsync("26px Segoe UI");
        await this.Ctx.SetFillStyleAsync("#FFFFFF");
        await this.Ctx.FillTextAsync("Blazor Canvas", 10, 30);

        await this.Ctx.SetFontAsync("16px consolas");
        await this.Ctx.FillTextAsync($"FPS: {fps:0.000}", 10, 50);

        await this.Ctx.SetStrokeStyleAsync("#FFFFFF");
        foreach (var ball in BallField.Balls)
        {
            await this.Ctx.BeginPathAsync();
            await this.Ctx.ArcAsync(ball.X, ball.Y, ball.R, 0, 2 * Math.PI, false);
            await this.Ctx.SetFillStyleAsync(ball.Color);
            await this.Ctx.FillAsync();
            await this.Ctx.StrokeAsync();
        }

        await this.Ctx.EndBatchAsync();
    }

    /// <summary>
    /// Called by CanvasHelper whenever the browser is resized.
    /// </summary>
    /// <param name="size"></param>
    public void CanvasResized(Size size)
    {
        Size = new GraphicSize(size);
        BallField.Resize(size.Width, size.Height);


        //var zoomMove = 
    }

    // Handle mouse down events
    void MouseDown(CanvasMouseArgs args)
    {

        

        if (args.Button == CanvasMouseArgs.CanvasMouseArgsButtons.RightButton)
        {
            componentSelectionDialogueVisible = true;
        }
        else
        {
            isDragging = true;
            dragStart.X = args.OffsetX / cameraZoom - CameraOffset.X;
            dragStart.Y = args.OffsetY / cameraZoom - CameraOffset.Y;
        }
    }

    // Handle mouse up events
    void MouseUp(CanvasMouseArgs args)
    {
        isDragging = false;
        initialPinchDistance = 0;
        lastZoom = cameraZoom;

        SetCenterBalance();
    }

    // Handle mouse move events
    void MouseMove(CanvasMouseArgs args)
    {
        MousePosition = new DoubleVector2(args.OffsetX, args.OffsetY);


        if (isDragging)
        {
            CameraOffset.X = args.OffsetX / cameraZoom - dragStart.X;
            CameraOffset.Y = args.OffsetY / cameraZoom - dragStart.Y;
        }

        CalculateMouseToCanvasActualPosition();
        SetCenterBalance();

    }

    private void CalculateMouseToCanvasActualPosition()
    {
        #warning here is the problem 
        var x = MousePosition.X - CameraOffset.X - (ActualSize.X / 2);
        var y = MousePosition.Y - CameraOffset.Y - (ActualSize.Y / 2);
        MouseToCanvasActualPosition = new DoubleVector2(x, y);
    }


    void MouseWheel(CanvasMouseArgs args)
    {

        scrolls++;

        var oldZoom = cameraZoom;

        AdjustZoom(args.Delta, SCROLL_SENSITIVITY);



        // CameraOffset.X = args.OffsetX / cameraZoom - dragStart.X;
        //CameraOffset.Y = args.OffsetY / cameraZoom - dragStart.Y;


        SetCenterBalance();

        var oneDividedByZoome = /*1 /*/ cameraZoom;

        if (IsZoomingIn(args.Delta))
        {


            var moveCanvasX = -  CenterBalanceRelative.GetXAbsoulteLengthClampedBewlowOrEqual(0.5) * 0.5 * (ActualSize.X) * oneDividedByZoome;
            var moveCanvasY = -CenterBalanceRelative.GetYAbsoulteLengthClampedBewlowOrEqual(0.5) * 0.5 * (ActualSize.Y) * oneDividedByZoome;
            /*
            moveCanvasX = moveCanvasX * 0.5;
            moveCanvasY = moveCanvasY * 0.5;
            */
            CameraOffset = new DoubleVector2(CameraOffset.X + moveCanvasX, CameraOffset.Y + moveCanvasY);

        }
        else
        {
            var moveCanvasX = CenterBalanceRelative.GetXAbsoulteLengthClampedBewlowOrEqual(0.5) * 0.5 * (ActualSize.X) * oneDividedByZoome;
            var moveCanvasY = CenterBalanceRelative.GetYAbsoulteLengthClampedBewlowOrEqual(0.5) * 0.5 * (ActualSize.Y) * oneDividedByZoome;
            /*
            moveCanvasX = moveCanvasX * 0.5;
            moveCanvasY = moveCanvasY * 0.5;
            */
            CameraOffset = new DoubleVector2(CameraOffset.X + moveCanvasX, CameraOffset.Y + moveCanvasY);

        }

        SetCenterBalance();


        ActualSize = new DoubleVector2(Size.Width * cameraZoom, Size.Height * cameraZoom);
    }

    private bool IsZoomingIn(int scrollDelta)
    {
        if(scrollDelta < 0)
        {
            return true;
        }
        else
        {
            return false;
        }
    }

    private void SetCenterBalance()
    {
        CenterBalance = new DoubleVector2(MouseToCanvasActualPosition.X / Size.Width - 0.5, MouseToCanvasActualPosition.Y / Size.Height - 0.5);

        if(ActualSize.X == 0)
        {
            ActualSize = new DoubleVector2(Size.Width, Size.Height);
        }



        var halfX = ActualSize.X / 2;
        var halfY = ActualSize.Y / 2;

#warning find solution for
        double relativeX = (MouseToCanvasActualPosition.X / ActualSize.X) - 0.5; //((MouseToCanvasActualPosition.X - ActualSize.X) / ActualSize.X) + 0.5;
        double relativeY = (MouseToCanvasActualPosition.Y / ActualSize.Y) - 0.5;//((MouseToCanvasActualPosition.Y - ActualSize.Y) / ActualSize.Y) + 0.5;

        CenterBalanceRelative = new DoubleVector2(relativeX, relativeY);
    }

    private void AdjustZoom(int zoomAmount, double zoomFactor)
    {
        if (!isDragging)
        {
            cameraZoom += (-zoomAmount * zoomFactor);
            //            cameraZoom = zoomFactor * lastZoom;

            cameraZoom = Math.Min(cameraZoom, MAX_ZOOM);
            cameraZoom = Math.Max(cameraZoom, MIN_ZOOM);


            // int i = 0;

            // if(zoomAmount >= 0)
            // {
            //     i = 1;
            // }
            // else
            // {
            //     i = -1;
            // }

            // cameraOffset.X -= i * (Size.HalfWidth() - (MousePosition.X  /* - cameraOffset.X */) - 0) * cameraZoom;
            // cameraOffset.Y -= i * (Size.HalfHeight() - (MousePosition.Y /* - cameraOffset.Y */) - 0) * cameraZoom;

        }
    }
}
