﻿canvas {
    border-color: red;
    border-width: 1px;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(50%, -50%);
}

#canvasHolder {
    position: fixed;
    width: 100%;
    height: 100%;
}

.smallText {
    font-size: 10px;
}

.whiteText {
    color:wheat;
}