﻿@page "/ProjectHandler"
@using Simba3.WebClient.Models.DrawIo
@using System.Text


@inherits PageBase


<h3>ProjectHandler</h3>



<div class="row">
    <div class="@keyColStyle">
        DrawIoModel
    </div>


    <div class="@valueColStyle">

        @if (DrawIoDocument == null)
    {

            <div style="margin-bottom: 20px; display: flex;">
                <div>Select your file:</div>
                <InputFile OnChange="FileUploaded" />
            </div>

        <!--https://blazor.radzen.com/fileinput?theme=material3-->

                <RadzenCard class="rz-m-0 rz-m-md-12" Style="width: 100%; max-width: 600px;">


                 <RadzenFileInput @bind-Value=@FileContent
                                 @bind-FileName=@FileName 
                                 @bind-FileSize=@FileSize 
                                 TValue="string" 
                                 Style="width: 100%"
                                 Accept="*.*"
                                 Change=@(args => OnChange(args, "FileInput")) 
                                 Error=@(args => OnError(args, "FileInput")) 
                               
                                 InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "select file" }})"/>
                </RadzenCard>

           
    }
    else
    {
        <p>Set</p>

            <RadzenButton ButtonStyle="ButtonStyle.Danger"
                          Icon="accessibility"
                          Variant="Variant.Flat"
                          Style="margin: 2px"
                          ButtonType="ButtonType.Reset"
                          Text="Unload"
                          Click="@(args => Cancel())" />
    }

        
    </div>
</div>


@code {

    private DrawIoDocument DrawIoDocument { get; set; }
    public string FileName { get; set; } = "";
    public long FileSize { get; set; }
    public string FileType { get; set; } = "";
    public DateTimeOffset LastModified { get; set; }
    public string ErrorMessage { get; set; } = "";

    public string FileContent { get; set; }


    protected override async Task OnInitializedAsync()
    {
    }
    public void Cancel()
    {
    }
    const int MAX_FILESIZE = 5000 * 1024; // 2 MB

    public async Task FileUploaded(InputFileChangeEventArgs e)
    {
        var browserFile = e.File;

        if (browserFile != null)
        {
            FileSize = browserFile.Size;
            FileType = browserFile.ContentType;
            FileName = browserFile.Name;
            LastModified = browserFile.LastModified;

            try
            {
                var fileStream = browserFile.OpenReadStream(MAX_FILESIZE);

                var randomFile = Path.GetTempFileName();
                var extension = Path.GetExtension(browserFile.Name);
                var targetFilePath = Path.ChangeExtension(randomFile, extension);

                var destinationStream = new FileStream(targetFilePath, FileMode.Create);
                await fileStream.CopyToAsync(destinationStream);

                using (StreamReader reader = new StreamReader(destinationStream, Encoding.UTF8))
                {
                    destinationStream.Position = 0;
                    string a = reader.ReadToEnd();
                }

                destinationStream.Close();
            }
            catch (Exception exception)
            {
                ErrorMessage = exception.Message;
            }
        }


    }

    void OnChange(string value, string name)
    {

        if (value != null)
        {
            var t = FileContent.Replace("data:application/octet-stream;base64,", string.Empty);

            byte[] data = Convert.FromBase64String(t);
            string decodedString = System.Text.Encoding.UTF8.GetString(data);
        }
    }

    void OnError(UploadErrorEventArgs args, string name)
    {
        
    }

    void ValueChanged(string name)
    {

    }

}
