﻿@inherits ComponentBase

@using Radzen.Blazor
@using Radzen
@using Simba.Client.Models.ModelHandler

<h3>Model:</h3>

@if (ModelAndDirectory == null)
{

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h4>Add sim-model:</h4>
            </div>
            <div class="col-sm">
                <RadzenButton ButtonStyle="ButtonStyle.Success"
                              Icon="done"
                              Variant="Variant.Flat"
                              Style="margin: 2px"
                              ButtonType="ButtonType.Submit"
                              Text="Create new" />
            </div>
            <div class="col-sm">
                <RadzenButton ButtonStyle="ButtonStyle.Success"
                              Icon="done"
                              Variant="Variant.Flat"
                              Style="margin: 2px"
                              ButtonType="ButtonType.Submit"
                              Text="Load existing" />
            </div>
        </div>
    </div>


}


@code {
    //[Parameter]
    public ModelAndDirectory ModelAndDirectory { get; set; }

    protected override async Task OnInitializedAsync()
    {

    }

}
