﻿@page "/ModelHandler"
@using Simba.Client.Models.ModelHandler
@using Simba.Shared.DrawIo
@using Simba.Shared.SimbaEntities


<PageTitle>Model handler</PageTitle>


<ModelAndDirectoryView></ModelAndDirectoryView>

@code {


    
    private MxfileAndDirectory MxfileAndDirectory { get; set; }

    protected override async Task OnInitializedAsync()
    {
    }
}
