﻿@using Simba.Client.Models

<div class=@CssClass>
	<h3>Select item type</h3>

	@foreach (ItemTypeEnum itemType in itemTypeEnums)
	{
		<p>@itemType.ToString()</p>
	}
</div>

@code {

	[Parameter]
	public string CssClass { get; set; }

	private List<ItemTypeEnum> itemTypeEnums = 
		new List<ItemTypeEnum>() { ItemTypeEnum.InLineActionState,
								   ItemTypeEnum.SurroundingErrorStatem,
								   ItemTypeEnum.SurroundingState };
}
