﻿<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Simba</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-1">
            <NavLink class="nav-link"
                     href="" 
                     Match="NavLinkMatch.All">
                <span class="oi oi-home" 
                      aria-hidden="true">
                </span> 1
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link" 
                     href="ModelHandler">
                <span class="oi oi-plus" 
                      aria-hidden="true">
                </span> Model handler
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link" 
                     href="fetchdata">
                <span class="oi oi-list-rich" 
                      aria-hidden="true">
                </span> 3
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link"
                     href="ballz">
                <span class="oi oi-list-rich" 
                      aria-hidden="true">
                </span> 4
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link"
                     href="stateMachineDesigner">
                <span class="oi oi-list-rich" 
                      aria-hidden="true">
                </span> 5
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
